<header>
	<div id="LogoDescrOut">
		<img src="img/SURM/SURMPRO.jpg" id="SURMProLogo" alt="" title="">
			<p id="descript">Официальная промо-страница “СУРМ”. Доставка по России и странам СНГ</p>
	</div>

	<div id="contact">
		<span>Позвоните нам, это бесплатно</span><br>
			<a href="8-800-ХХХ-ХХ-ХХ">8-800-ХХХ-ХХ-ХХ</a>
				<span>, 9-18 Мск.</span>
	</div>

	<div id="writeEmail">
		<a href="mailto:sale@surm.ru">sale@surm.pro</a>
			<span>Напишите нам</span>
	</div>

<!--		HIDDEN BLOCK		-->
	<span class="hidden open-slide">
			<a href ="#" onclick="openSlideMenu()">
				<img src="img/icons/mobMenushad.gif">
			</a>
	</span>

	<div id="side-menu" class="side-nav hidden">
		<a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
		<a href="#nabor">О наборе</a>
		<a href="#AdvantagesTest1">Преимущества</a>
		<a href="#RaskoksArticle">Раскоксовка</a>
		<a href="#RaskoksArticle">Восстановитель компрессии</a>
		<a href="#Obrabotka_Sostavami">Обработка</a>
		<a href="#HowToBuy">Как купить</a>
		<a href="#AboutCompany">О компании</a>
		<a href="#nagar_posledstviya">Влияние нагара</a>
	</div>
<!--		HIDDEN BLOCK		-->

</header>