<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/libs.min.css">
    <link rel="stylesheet" href="/css/main.min.css">

<title>Document</title>

<link rel="shortcut icon" href="image/1Optimized/icons/favicon_Surm.ico">
<link href="css/surmFINAL_style_clearingFinal_Traversy.css" type="text/css" rel="stylesheet">
<link href="css/MediaMedia_Traversy.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="Magnific-Popup-master/dist/magnific-popup.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic" rel="stylesheet">

<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src= "Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.matchHeight.js" type="text/javascript"></script>

<link href="jquery-ui-1.12.1.custom/jquery-ui.min.css" type="text/css" rel="stylesheet">
<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" type="text/javascript"></script>


</head>
<body>